body{
    font-size: 12px; 
}

.backround-dark { 
    background-color: #262626;
} 

.center { 
    display: flex;
    justify-content: center;
    margin-left: 750px;
    margin-right: 750px;
}

.margin-top { 
    margin-top: 100px;
}

.timer { 
    font-size: 60px; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.button
{
    font-size: 5em; 
    color: black;
    font-family: 'Arial';
    background-color: yellow;
    width: 200px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px 10px;
}

.buttonRed
{
    font-size: 5em; 
    color: black;
    font-family: 'Arial';
    background-color: red;
    width: 200px;
   margin: auto;
   padding: 50px 10px;
}

#startButton 
{
    background-color: yellow
}